/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

h1, h2, h3 {
  color:#7c4e3d; /* Orange color for headings */
}
.aboutUs{
 
  
  background-color:  #F3F3F3;}
/* Header and Navigation Bar */

header {
  background: linear-gradient(-45deg, #FFDD00, #b96a4d, #f7b438, #b7d2e2); /* تدرج لوني */
  background-size: 400% 400%; /* حجم الخلفية الكبير لتغطية كامل الهيدر والتحريك */
  animation: gradientBG 15s ease infinite; /* تطبيق الحركة */
  min-height: 300px;
  color: rgb(247, 240, 240);
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
